DB_NAME=todo
TEST_DB_NAME=todo_test
DB_USER=todo
DB_PASSWORD=todo-local-only
DB_HOST=db
ALLOW_ORIGIN_URL=http://localhost:8080
BACKEND_BIND_ADDRESS=127.0.0.1
BACKEND_PORT=8081
POSTGRES_VOLUME_NAME=php-todo-ddd-postgres-data-v18
XDEBUG_MODE=off
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
